/* main.css */

:root {
  --font-default: inter, system-ui, sans-serif;
  --tx-color: #213547;
  --bg-color: #fff;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tx-color: rgb(255 255 255 / 87%);
    --bg-color: #242424;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  max-width: 800px;
  height: 100svh;
  color: var(--tx-color);
  font-weight: 400;
  font-family: var(--font-default);
  line-height: 1.5;
  background: var(--bg-color);
  margin-inline: auto;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
